$tcRed: #FF3A2D;
$tcRedFaded: #D74D52;
$tcOrange: #F28202;
$tcGreeMint: #3ADC79;
$tcWhite: white;


$brcGray: #CCCCCC;
$bcGrayLight: #EEEEEE;
$brcGrayDark: #19283659;
$brcRedFaded: #D74D52;
$bcWhiteOff: #FFFFFF7A;
$bcWhite: white;

$bgRedFaded: #D74D52;
$bgWhite: white;