@use "./partial/variables.scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    header {
        .nav-container{
            nav{
                display: flex;
                position: relative;
                justify-content: end;
                margin: 0 17rem;
                padding: 1.2rem;
                background-color: green;
                font-family: 'Roboto', sans-serif;
                .logo-container{
                    position: absolute;
                    top: 0;
                    left: 2rem;
                    img{
                        width: 7rem;
                    }
                }
                ul{
                    list-style: none;
                    display: flex;
                    li {
                        margin: 0 1rem;
                        border-bottom: 2px solid rgba(255, 255, 255, 0);
                        a{
                            color: black;
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 0.7rem;
                        }
                        &:hover{
                            border-bottom: 2px solid; 
                            border-image: linear-gradient(to left, $brcRedFaded 35%, transparent 35%) 100% 1;
                            a{
                                color: $tcRed;
                            }
                        }
                    }
                }
            }
        }
        .jumbotron-container{
            .jumbotron{
                padding: 10rem 0 0 0;
                background-image: url("../assets/img/02_Landing-Page.jpg");
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                h1{
                    font-weight: 100;
                    font-size: 3rem;
                    text-wrap: wrap;
                    margin: 0 25rem 3rem 25rem;
                }
                button{
                    background-color: rgba(255, 255, 255, 0);
                    border: 1px solid $brcGray;
                    font-size: 0.7rem;
                    padding: 0.7rem 2rem;
                    &:hover {
                        background-color: $bgRedFaded;
                        border-color: $brcRedFaded;
                        color: $tcWhite;
                    }
                }
            }
        }
        .intro-contents-container{
            font-family: 'Roboto', sans-serif;
            text-align: center;
            h2{
                margin: 0 23rem 4rem 23rem;
                font-weight: 500;
                span{
                    font-weight: bold;
                    color: $tcRedFaded;
                }
            }
            .intro-contents-cards{
                display: flex;
                justify-content: center;
                list-style: none;
                gap: 0.8rem;
                margin-bottom: 2.5rem;
                li{ 
                    box-shadow: 0px 2px 15px 0px #cccccc;
                    width: 15rem;
                    padding: 2rem 1rem 2.5rem 1rem;
                    img{
                        width: 3rem;
                        margin-bottom: 1rem;
                    }
                    h5{
                        font-size: 1.1rem;
                        font-weight: 500;
                        margin-bottom: 0.8rem;
                    }
                    p{
                        font-size: 0.8rem;
                        text-wrap: wrap;
                        line-height: 1.5rem;
                    }
                    &:hover {
                        h5{
                            color: $tcRed;
                        }
                    }
                }
            }
            ul:last-child {
                list-style: none;
                gap: 0.8rem;
                margin-bottom: 2.5rem;
                li{
                    width: 15rem;
                    
                    p{

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span{
                            font-weight: 500;
                            font-size: 2rem;
                            span{
                                margin:0 0.7rem;
                            }
                        }
                    }
                }
            }
            .intro-contents-other-info{
                display: flex;
                justify-content: center;
                li{
                    position: relative;
                    img{
                        position: absolute;
                        top: 0;
                        left: 13%;
                        transform: translateY(-10%);
                        width: 4.5rem;
                    }
                    span{
                        &.tc-orange{
                            color: $tcOrange
                        }
                        &.tc-red-faded{
                            color: $tcRedFaded;
                        }
                        &.tc-green-mint{
                            color: $tcGreeMint;
                        }
                    }
                }
            }
        }
    }
    main{
        background-color: $bcWhiteOff;
        font-family: 'Roboto', sans-serif;
        .main-content-container{
            margin-bottom: 5rem;
            .main-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    font-weight: 500;
                    margin-bottom: 2rem;
                }
                .intro-main-content{
                    margin: 0 27rem 2.5rem 27rem;
                    text-wrap: wrap;
                    text-align: center;
                    line-height: 1.5rem;
                }
                ul{
                    display: flex;
                    list-style: none;
                    gap: 1.5rem;
                    margin-bottom: 4rem;
                    li{
                        box-shadow: 0px 2px 15px 0px #cccccc;
                        width: 15rem;
                        div{
                            overflow: hidden;
                            height: 8.5rem;
                            margin-bottom: 1.5rem;
                            img{
                                width: 15rem;
                            }
                        }
                        .course-type{
                            margin-bottom: 0.2rem;
                        }
                        h5{
                            font-size: 1rem;
                            font-weight: 500;
                            margin: 0 0 1.3rem 1rem;
                            line-height: 1.5rem;
                        }
                        p{
                            font-weight: 400;
                            font-size: 0.9rem;
                            margin: 0 0 1rem 1rem;
                            line-height: 1.5rem;
                        }
                        
                        span{
                            color: $tcRedFaded;
                            font-size: 0.6rem;
                            display: block;
                            margin: 1.7rem 0 1.5rem 1rem;
                        }
                    }
                }
                div{
                    position: relative;
                    margin-bottom: 4rem;
                    .citation{
                        font-size: 1.5rem;
                        font-weight: 400;
                        text-align: center;
                        margin: 0 21rem;
                        line-height: 2.2rem;
                        span{
                            font-weight: bold;
                            text-decoration: underline;
                            text-decoration-thickness: 1px;
                            text-underline-offset: 8px;
                            color: $tcRedFaded;
                        }
                    }
                    .background-quote-image {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 12rem;
                    }
                }
                .upcoming-events-container{
                    display: flex;
                    position: relative;
                    .presentation-video-container{
                        position: relative;
                        margin-right: 19rem;
                        div{
                            position: absolute;
                            top: 40%;
                            left: 40%;
                            button{
                                width: 4.5rem;
                                height: 4.5rem;
                                font-size: 2rem;
                                border-radius: 25rem;
                                border: none;
                                padding-left: 0.3rem;
                                background-color: $bgWhite;
                                color: $tcRedFaded;
                            }
                        }
                        img{
                            width: 27rem;
                        }
                    }
                    .upcoming-events{
                        position: absolute;
                        top: 15%;
                        left: 40%;
                        width: 27rem;
                        height: 27rem;
                        background-color: $bgWhite;
                        box-shadow: 4px 6px 20px 0px $brcGray;
                        padding: 0 1.8rem;
                        h5{
                            text-align: center;
                            color: $tcWhite;
                            background-color: $bgRedFaded;
                            font-size: 1.5rem;
                            font-weight: 400;
                            padding: 1.5rem 0;
                            margin: 0 3.7rem 3rem 3.7rem;
                        }
                        p{
                            font-weight: 500;
                            line-height: 1.5rem;
                            margin: 0 2rem 1rem 0;
                        }
                        span{
                            display: block;
                            font-weight: 600;
                            font-size: 0.7rem;
                            margin-bottom: 0.8rem;
                            
                            i {
                                font-size: 0.6rem;
                                margin: 0 0.3rem 0 0.1rem;
                            }
                            &:last-child{
                                display: block;
                                text-align: center;
                                margin-top: 2.5rem;
                            }
                        }
                    }
                }
            }
        }
        .last-content-container{
            .last-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    font-weight: 500;
                    margin-bottom: 2rem;
                }
                .intro-last-content{
                    margin: 0 27rem 3.2rem 27rem;
                    text-wrap: wrap;
                    text-align: center;
                    line-height: 1.5rem;
                }
                .last-content-cards{
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    gap: 1.5rem;
                    margin-bottom: 5.5rem;
                    width: 15rem;
                    .last-content-card{
                        box-shadow: 0px 2px 15px 0px #cccccc;
                        div{
                            display: flex;
                            gap: 1.5rem;
                            margin-bottom: 1.5rem;
                            img{
                                width: 15rem;
                            }
                        }
                        ul{
                            display: flex;
                            list-style: none;
                            gap: 1.5rem;
                            padding-left: 1.2rem;
                            margin-bottom: 1rem;
                            li{
                                font-weight: 300;
                                font-size: 0.8rem;
                                i{
                                    font-size: 0.6rem;
                                    margin-right: 0.3rem;
                                }
                            }
                        }
                        h5{
                            font-size: 1rem;
                            font-weight: 500;
                            margin: 0 0 1.8rem 1rem;
                            line-height: 1.5rem;
                            text-wrap: wrap;
                            border-bottom: 1px solid $brcRedFaded;
                            border-image: linear-gradient(to right, $brcRedFaded 20%, transparent 20%) 100% 1;
                            padding-bottom: 0.7rem;
                        }
                        p{
                            font-weight: 300;
                            font-size: 0.8rem;
                            padding: 0 0 1.5rem 1rem;
                            i{
                                font-size: 0.7rem;
                                margin-left: 0.2rem;
                            }
                        }
                    }
                }
                .roll-container{
                    display: flex;
                    list-style: none;
                    width: 100vw;
                    li{
                        width: calc(100% / 4);
                        img{
                            width: 100%;
                            height: 100%;
                            
                        }
                    }
                }
            }       
        }
    }
}